*{
    scroll-behavior: smooth;
    margin: 0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 4rem;
    align-items: center;
    color: antiquewhite;
}

ul.azinhos{
    display: flex;
    gap: 1rem;
    list-style: none;

    li:hover{
        transform: scale(1.1);
    }

    a{
        text-decoration: none;
        color: antiquewhite;
    }
}

section{
    padding-inline: 1rem;
    background-color: antiquewhite;
    color: cornflowerblue;
}